@use "./abstract";
@use "sass:map";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: abstract.$kumbh;
}

body {
  background-color: map.get(abstract.$colors, "dark-cyan");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px
    map.get(abstract.$colors, "very-dark-desaturated-blue");
}
